# Ignore .env due to confidential bot token
*.env

# Ignore log files
*.log


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Experimental functionality
*_experiment*

# db files
*.db
*.xml
*.iml
